*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Keystore files
*.keystore
*.jks
keystore.properties
/app/release
/app/debug

# Google Services
app/google-services.json

# Release files
app/release/

# Keep Room schemas
!/app/schemas/
